/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');

:root {
  /* COLORS */
  /* PALETE 1 */
  --first-color: rgb(34, 40, 49);
  --second-color: rgb(57, 62, 70);
  --third-color: rgb(255, 211, 105);
  --fourth-color: rgb(238, 238, 238);
  /* PALETE 2 */
  --first-color2: rgb(41, 59, 95);
  --second-color2: rgb(71, 89, 126);
  --third-color2: rgb(219, 230, 253);
  --fourth-color2: rgb(178, 171, 140);
}

body::-webkit-scrollbar {
  width: 9px;
  height: 9px; 
}

body::-webkit-scrollbar-thumb {
  background: var(--third-color2);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--third-color);
}

body::-webkit-scrollbar-thumb:active {
  background: var(--third-color);
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-track:hover {
  background: transparent;
}

body::-webkit-scrollbar-track:active {
  background: transparent;
}